DATABASE_URL="postgresql://user:password@localhost:5432/mr_cosmetics"

NEXT_PUBLIC_API_URL="http://localhost:3000"

STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

RESEND_API_KEY="re_..."

NEXT_PUBLIC_GA_MEASUREMENT_ID="G-XXXXXXXXXX"